.main_menu_inner
{
    background-color: #01245C;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-image: url('ppl2.jpg');
    height: 150px;
    position: relative;
}

body .main_menu ul
{
    position: absolute;
    bottom:0.5em;
}

body .main_menu a
{
    color: white;
}

.main_menu .logo {
    padding: 0px;
    font-weight:bold;
    padding:0em;
}
.date_input {
    width:7em;
    margin-right: 2px;
}

.usage_input {
    width: 3em;
}

